/* @import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --logo-text-color: #413232;
  --background-color: #393e46;
  --button-color: #222831;
  --hover-color: #00adb5;
  --text-color: #eeeeee;
  --background1-color: #ff6b6b;
}

.nav-buttons {
  margin-left: 45%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.1rem;
  font-weight: 600;
}

h3 {
  font-size: 1.7rem;
  font-weight: 800;
}

h4 {
  font-size: 1.4rem;
  font-weight: 600;
}

h5 {
  font-size: 1.2rem;
  font-weight: 400;
}

h6 {
  color: #d8d8d8;
}

#home p {
  font-size: 1.3rem;
}

#featured p {
  font-size: 1.3rem;
}

.footer-one p {
  font-size: 1.2rem;
}

button {
  font-size: 0.8rem;
  font-weight: 900;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  color: #ffffff;
  padding: 13px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease;
}

button:hover {
  background-color: var(--background1-color);
}

.navbar {
  font-size: 16px;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1.2rem;
  padding: 0 20px;
  color: #000;
  transition: 0.4s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar.nav .nav-link.active .navbar i:hover {
  color: var(--background1-color);
}

.navbar i {
  font-size: 1.3rem;
  padding: 0 5px;
  transition: 0.4s ease;
  font-weight: 500;
  cursor: pointer;
  color: var(--logo-text-color);
}

@media only screen and (max-width: 990px) {
  .nav-buttons {
    margin: 10px;
  }

  .nav-buttons ul {
    margin: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  .nav-buttons ul .fa {
    margin: 20px 5px 10px 15px;
  }
}

#home {
  background-image: url(../imgs/img1.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position-x: 90px;
  background-position-y: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#home span {
  color: var(--text-color);
}

#new .one img {
  width: 100%;
  height: 100%;
  /*border: 2px solid #ffffff;
  border-radius: 5%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#new .one {
  position: relative;
}

#new .one .details {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-weight: bold;
  transition: 0.4s ease;
  opacity: 0.7;
  background-color: rgb(1, 1, 1);
  width: 100%;
  height: 100%;
}

#new .one .details:hover {
  background-color: #6b6a6a;
}
#new .one:nth-child(1) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#new .one:nth-child(2) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#new .one:nth-child(3) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Product Style */

.product {
  cursor: pointer;
  margin-bottom: 2rem;
}

.product img {
  transition: 0.3s all;
}

.product:hover img {
  opacity: 0.7;
}

.product .buy-btn {
  background-color: #222222;
  transform: translateY(50px);
  opacity: 0;
  transition: 0.3s all;
  color: #fff;
}

.product:hover .buy-btn {
  transform: translateY(0px);
  opacity: 1;
}

.shop-buy-btn {
  background-color: #222222;
  opacity: 1;
  text-decoration: none;
  color: #fff;
}

.shop-buy-btn:hover {
  background-color: #7f7e7e;
  color: #fff;
}

.search .container {
  display: flex;
}

.page-link {
  color: var(--hover-color);
}

.search-column {
  flex: 1; /* Takes 1 part of the available space */
  padding: 20px;
  border-right: 1px solid #ddd;
}

/* #hero-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 50px;
}

#hero-section .column {
  padding: 20px;
}

.products-column {
  flex: 2; 
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
} */

hr {
  width: 30px;
  height: 3px !important;
  opacity: 1 !important;
  background-color: var(--background1-color);
}

.star {
  padding: 10px 0;
}

.star i {
  font-size: 0.9rem;
}

#banner {
  background-image: url(../imgs/banner.png);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position-x: center;
  background-position-y: 40px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#banner h1 {
  color: #ffffff;
}

footer {
  background-color: #222222;
}

footer h5 {
  color: #d8d8d8;
  font-weight: 700;
  font-size: 1.2rem;
}

footer li {
  padding-bottom: 4px;
}

footer li a {
  font-size: 1rem;
  color: #999;
  text-decoration: none;
}

footer li a:hover {
  color: #d8d8d8;
}

footer .copyright a {
  color: #000;
  height: 40px;
  width: 40px;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
}

footer .copyright a:hover {
  color: #fff;
  background-color: #ff6b6b;
}

footer p {
  color: #fff;
}

footer .copyright img {
  width: 30%;
}

.logo {
  width: 40px;
  height: 40px;
}

.admin_logo {
  height: 45px;
  margin-right: 10px;
}

.admin_name {
  color: #4eb9eb;
}

.header_size {
  width: 40px;
  height: 40px;
}

.navbar .brand {
  color: var(--logo-text-color);
  margin: 3px 5px;
  font-size: 1.5rem;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.single-product input:focus {
  outline: none;
}

.single-product .buy-btn {
  background-color: #222222;
  opacity: 1;
  transition: 0.4s all;
}

.single-product .buy-btn:hover {
  background-color: #ff6b6b;
}

/* Cart */

.cart table {
  width: 100%;
  border-collapse: collapse;
}

.cart .product-info {
  display: flex;
  flex-wrap: wrap;
}

.cart th {
  text-align: left;
  padding: 5px 10px;
  color: #fff;
  background-color: var(--background1-color);
}

.cart td {
  padding: 10px 20px;
}

.cart td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.cart td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

.cart td a {
  color: #ff6b6b;
}

.cart .remove-btn {
  color: #ff6b6b;
  text-decoration: none;
  font-size: 14px;
  background-color: #fff;
  border: none;
  width: 27%;
}

.cart .edit-btn {
  color: #ff6b6b;
  text-decoration: none;
  font-size: 15px;
  background-color: #fff;
  border: none;
}

.cart .product-info p {
  margin: 3px;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
}

.cart-total table {
  width: 100%;
  max-width: 500px;
  border-top: 3px solid #ff6b6b;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.checkout-container {
  display: flex;
  justify-content: flex-end;
}

.checkout-btn {
  background-color: #ff6b6b;
  color: #fff;
}

.checkout-btn:hover {
  background-color: #ff6b6b;
  color: #222222;
}

/* Login */

#login-form {
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ff6b6b;
}

#login-form input {
  width: 50%;
  margin: 5px auto;
}

#login-form #login-btn {
  background-color: #ff6b6b;
  color: #fff;
}

#login-from #register-url {
  color: #ff6b6b;
}

/* Register */

#register-form {
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ff6b6b;
}

#register-form input {
  width: 50%;
  margin: 5px auto;
}

#register-form #register-btn {
  background-color: #ff6b6b;
  color: #fff;
}

#register-form #login-url {
  color: #ff6b6b;
}

/* Account */

#account-form {
  width: 50%;
  margin: 35px auto;
  text-align: center;
  padding: 20px;
}

#account-form input {
  margin: 5px auto;
}

#account-form #change-pass-btn {
  color: #fff;
  background-color: #ff6b6b;
}

.account-info #orders-btn,
#logout-btn {
  color: #ff6b6b;
  text-decoration: none;
}

/* Orders */

.orders table {
  width: 100%;
  border-collapse: collapse;
}

.orders .product-info {
  display: flex;
  flex-wrap: wrap;
}

.orders th {
  padding: 5px 10px;
  color: #fff;
  background-color: #ff6b6b;
  /* text-align: left; */
}

/* .orders th:nth-child(2) {
  text-align: right;
} */

.orders td {
  padding: 10px 20px;
}

.orders td img {
  width: 80xp;
  height: 80px;
  margin-right: 10px;
}

.orders .order-details-btn {
  color: #fff;
  background-color: #ff6b6b;
}

/* Checkout */

#checkout-form .checkout-small-element {
  display: inline-block;
  width: 48%;
  margin: 10px auto;
}

#checkout-form .checkout-large-element {
  width: 96%;
}

#checkout-form .checkout-btn-container {
  margin: 10px;
  text-align: right;
  margin-right: 40px;
}

#checkout-form #checkout-btn {
  color: #fff;
  background-color: #ff6b6b;
}

/* Contact */

#contact span {
  color: var(--background1-color);
}

.paypal-btn {
  display: flex;
  justify-content: center;
}

/* .cart-quantity {
  background-color: #ff6b6b;
  color: #fff;
  padding: 1px 5px;
  border-radius: 50%;
  margin: -5px;
  font-size: 1rem;
} */

.cart-quantity {
  position: absolute;
  top: -8px; /* Adjust to position above the cart icon */
  right: -4px; /* Move to the right side of the icon */
  background-color: #ff6b6b;
  color: #fff;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 0.75rem;
  font-weight: bold;
}

/* blog */

.hero-section {
  background: url("https://source.unsplash.com/1600x600/?fashion") no-repeat
    center center/cover;
  color: white;
  text-align: center;
  padding: 100px 20px;
}
.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
}
.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.hero-section .btn {
  font-size: 1.2rem;
  padding: 10px 20px;
}

#home-section {
  background-image: url(../imgs/banner.png);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position-x: center;
  background-position-y: 40px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
